<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Объявления</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Объявления</h1>
        <div class="product">
            <h2>Тип объявления:</h2>
            <p>Категория:</p>
            <p>Адрес: </p>
            <p>Площадь:</p>
            <p>Описание:</p>
            <p>Количество комнат:</p>
            <p>Этаж:</p>
            <p>Цена:</p>
            <p>Период:</p>
            <p>Контакты риелтора:</p>
            <p>Интернет:</p>
            <p>Парковка:</p>
        </div>
    </div>
</body>
</html>